#A{
	text-align: center;
	font-size: 130%;
}
#a1{
	height: 100%;
	width: 100%;
	background-color: white;
}
#B{
	color: darkgreen;
	float: left;
	font-size: 140%;
	margin-top: 1%;
	
}
#C{
	float: left;
	margin-left: 2%;
}
#i{
	margin-left: 4%;
	margin-right: 1%;
}
#d{
	margin-left: 2%;
	margin-right: 1%;
}
#g{
	float: right;
	margin-right: 3%;
	font-size: 150%;
	margin-top: 1%;
}
#v{
	float: right;
	margin-right: 3%;
	margin-left: 3%;
}